.container{
  display: flex;
  flex-flow: column;
}

.titleText{

}

.dateText{

}

.whereContainer{
  display: flex;
  flex-flow: row;

}

.whereImage{
  height: 100%;
}

.whereText{

}

.descriptionText{

}